---
title: "Page Not Found | michaeljcoyne.me"
description: "Page not found. Please return to https://michaeljcoyne.me"
---

%main
  %h1 Page not found

  %p
    Please return to #{link_to 'https://michaeljcoyne.me'}.
