%footer
  %p
    = link_to 'https://github.com/mikeycgto' do
      %i.fa.fa-github
    = link_to 'https://twitter.com/mikeycgto' do
      %i.fa.fa-twitter
    = link_to 'https://www.linkedin.com/in/michael-coyne-71269112a/' do
      %i.fa.fa-linkedin
    = link_to 'https://keybase.io/mikeycgto' do
      %i.fa.fa-key
  %p
    &copy; 2017 Michael J Coyne
