---
title: "Contact | michaeljcoyne.me"
description: "Looking to reach out and send me a message? This page has links for contacting me."
---

%h1 Contact

%p
  Looking to reach out and send me a message? You can send me an email by
  #{content_tag :a, 'clicking here', href: 'mailto:mikeycgto+web@gmail.com'}.

%p
  You can also message me on
  #{link_to 'Twitter', 'https://twitter.com/mikeycgto'} or
  #{link_to 'LinkedIn', 'https://www.linkedin.com/in/michael-coyne-71269112a/'}.
