---
title: "Index | michaeljcoyne.me"
description: "Hello, I'm Michael! I am a computing scientist and full-stack developer. My favorite languages and techonologies include Ruby, Rails, Rust, JavaScript, React, and Redux."
---

%main.index
  = image_tag 'me.jpg'

  %hr

  %p
    %strong Hello, I'm Michael!
    I am a computing scientist and full-stack developer currently residing in the
    greater New York area. My favorite languages and technologies include Ruby,
    Rails, Rust, JavaScript, React, and Redux.
  %p
    Currently, I'm enjoying the summer and am focusing on freelance software
    work. Feel free to contact me about contract opportunities.
  %p
    I try to #{link_to 'open source', 'open-source.html'} code when it makes
    sense. I also love to contribute to other open source projects and am active
    on #{link_to 'Github', 'https://github.com/mikeycgto'}.
  -#%p
    I'm also into #{link_to 'photography', 'photography.html'} and am constantly
    searching for great vantage points to take the perfect shot!
